<div
  class="banner-innerpage"
  style="background-image: url(assets/images/project/nfc2.png)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">NFC Safe with Raspberry Pi 4 </h1>
      </div>
      <!-- Column -->
    </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->
<div class="header_outer">
    <h2 class="header_t md-display-1">
    <strong >
        The project is about a safe opened by an NFC android application. The safe is controlled by Raspberry Pi 4, which it is a linux-based system.
        The programs we used to control the NFC chipset (to read the NFC devices) and servo (to open/close the safe) are written in Python, and the Android application 
        to track the usage record and simulate as an NFC tag is written in JAVA. The following video is the demo of the box: 
    </strong>
    </h2>
</div>
<div class="container">
    <h1 class="md-display-3"><strong>Demo</strong></h1>
    <div class="video_container">
        <youtube-player videoId="sviN8MTyh08"  suggestedQuality="highres"></youtube-player>
    </div>
</div>
<div class="container">
  <h1 class="md-display-3"><strong>Key Design</strong></h1>
  <h3 class="md-headline">The diagrams below shows the wiring and box design for this project: </h3>
  <div class="design_img_container">
  <img class="nfc_design" src="assets/images/project/nfc_design.jpg">
  </div>
  <div class="caption">
  <em>figure 1 wiring design</em>
  </div>
  <div class="design_img_container">
    <img class="nfc_design" src="assets/images/project/box_design.jpg">
    </div>
    <div class="caption">
    <em>figure 2 box design</em>
    </div>
  <h3 class="md-headline"> In this project, we need 3 components to setup the safe:</h3>
  <ul >
    <li>
      <h3 class="md-headline"><strong>Raspberry Pi 4</strong>: A Linux-based system credited-sized computer that will be embedded in the safe to connect to the NFC readers for verifying the device and control the servo locks.</h3>
    </li>
    <li>
      <h3 class="md-headline">2 <strong>NFC PN532 chipsets </strong>: A highly integrated transceiver module for NFC communication at 13.56MHz. It is a popular NFC chip that is embedded in most of NFC devices like phones or NFC readers. It supports 3 host interfaces: (1) SPI, (2) I2C, (3) UART. Since raspberry pi only has one set of I2C and UART interfaces and both of them cannot handle more than one NFC chipset at a time, we decided to use SPI protocol to connect the NFC chipsets. 
        The SPI protocol can connect multiple NFC chipsets for only one protocol, and also it is more reliable than the other two interfaces using in Raspberry Pi. </h3>
    </li>
    <li>
      <h3 class="md-headline">2 <strong>servos</strong>: A servo motor is an electronic device and rotary that are commonly used in various areas like elevators and walking a robot. 
        Normally, a servo motor can rotate from 0 degree to 180 degrees. It is controlled by sending a PWM (Pulse Width Modulation) signal, a series of repeating pulses of variable width where either the width of the pulse or the duty cycle of a pulse train determines the position to be achieved by the servo. The PWM signal sent to the servo motor in this project will come from the Raspberry Pi 4. 
      </h3>
    </li>
  </ul>
  <h3 class="md-headline">For users to use the safe, it is required users to install the android application. The main reason why we need an android application is because most of the phone nowadays have a dynamic UID generated by its NFC chipset. What it means is that if we simply enable the NFC function on the phone and tap on the NFC reader, the UID that read by the NFC reader will be different each time. This will become a problem in this project. 
    To solve it, we will need to write our own application to let the NFC reader to communicate with the application directly instead of the NFC chipset.
   </h3>
   <h3 class="md-headline"> The following figures are the UI of the Android Application:</h3>
   <div class="design_img_container">
    <img class="nfc_design" src="assets/images/project/home_page_nfc.jpg">
    </div>
    <div class="caption">
    <em>figure 3 Main/Login page</em>
    </div>
    <div class="design_img_container">
      <img class="nfc_design" src="assets/images/project/Admin_page_detail.jpg">
      </div>
      <div class="caption">
      <em>figure 4 Admin/Record Detail page</em>
      </div>
      <div class="design_img_container">
      <img class="nfc_design_fg" src="assets/images/project/foreground_nfc.jpg">
      </div>
      <div class="caption">
      <em>figure 5 Foreground service</em>
      </div>
   <h3 class="md-headline"> Since this application is mainly about NFC technology. There are two important concepts about this application:</h3>
   <ul >
    <li>
      <h3 class="md-headline"><strong>HCE Service</strong>: All the data sent from the NFC readers now will direct to the Host CPU via the service, on which Android applications are running directly. This means that all the data will be sent to and processed by the application. 
        This is the main solution for this project, which user can use their devices to communicate to the NFC reader. </h3>
    </li>
    <li>
      <h3 class="md-headline"><strong>APDU request/response</strong>: A smart card application protocol data unit that is used for the communication between a smart card and the NFC reader. Since the HCE service helps us to simulate the application to a smart card, we can then use this protocol to communicate with the NFC reader.
         The protocol basically allows devices to communicate using a request/response packet called “APDU”.</h3>
    </li>
  </ul>
  <h1 class="md-display-3"><strong>Hybrid-encryption</strong></h1>
  <h3 class="md-headline">In this project, we use hybrid encryption to encrypt the usage record 
  and the UID before sending it to the server program and Firebase. The cryptography we choose in this project is a combination of RSA and AES.
  The concept of it is shown below:</h3>
  <div class="design_img_container">
    <img class="nfc_design_hybrid" src="assets/images/project/hybrid_nfc.jpg">
    </div>
    <div class="caption">
    <em>System diagram</em>
  </div>
  <h1 class="md-display-3"><strong>System diagram</strong></h1>
  <h3 class="md-headline">The following diagram is a system diagram that shows the full process of how a valid user device 
  interacts with the server application via the NFC reader and unlock the safe: </h3>
  <div class="design_img_container">
    <img class="nfc_design_sy" src="assets/images/project/system_nfc.jpg">
    </div>
    <div class="caption">
    <em>System diagram</em>
  </div>
  <h1 class="md-display-3"><strong>Usage & Source code</strong></h1>
  <h3 class="md-headline">The source code is <a href="https://drive.google.com/file/d/1B6U3Mq63PYb5vLNlxoBZAb6358IsDb2U/view?usp=sharing">here</a>.Once we make the box and connect the NFC and servos to Raspberry Pi. 
    For PN532, we need to install the API “adafruit_pn532”.
    After installing the API, we need to find the folder of the “adafruit_pn532”.
    (The folder of the python packages in Raspberry Pi is in /usr/local/lib/python3.x/dist-packages/)
    After entering to the “adafruit_pn532 folder”, replace the “adafruit_pn532” python script with the one we give you. (It’s in the Python folder)
    <h3 class="md-headline">  To setup the safe, it is very simple:
    (1) Install the APK in the APK folder
    (2) Put the Python Folder into any directory
    (3) open the Python Folder, run:
    <em>sudo python3 SRC/NFC_SETUP.py</em></h3>
    
     </h3>
</div>


