<div
  class="banner-innerpage"
  style="background-image: url(assets/images/project/nfc2.png)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">NFC Safe with Raspberry Pi 4 </h1>
      </div>
      <!-- Column -->
    </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->
<div class="header_outer">
    <h2 class="header_t md-display-1">
    <strong >
        The project is about a safe opened by an NFC android application. The safe is controlled by Raspberry Pi 4, which it is a linux-based system.
        The programs we used to control the NFC chipset (to read the NFC devices) and servo (to open/close the safe) are written in Python, and the Android application 
        to track the usage record and simulate as an NFC tag is written in JAVA. The following video is the demo of the box: 
    </strong>
    </h2>
</div>
<div class="demo_container">
    <h1 class="md-display-3">Demo</h1>
    <div class="video_container">
        <youtube-player videoId="sviN8MTyh08"  suggestedQuality="highres"></youtube-player>
    </div>
</div>

