<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/city.jpeg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">ABOUT PAGE</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>
<div class="main_container">
<h1 class="md-display-3"><strong>Developer Background</strong></h1>
<h3 class="md-headline">
  Hong Kit Wu is a web, software, and database developer who graduated from BCIT with the Diploma of Technology, Database Option in 2018. He has developed websites with database servers and using HTML, Javascript, ASP.NET, Microsoft Azure and React, and is experienced in programming in C, C++, Python, and Java. 
  In 2021, Hong Kit graduated at BCIT with a Computer Systems degree (network security application development option).
</h3>
<h1 class="md-display-3"><strong>Education</strong></h1>
<div class="a_row">
  <div class="left_child">
    <h3 class="md-headline">2017 – 2018</h3>	
  </div>
  <div class="right_child">
    <h3 class="md-headline"><strong><u>BCIT</u></strong></h3>
    <h3 class="md-headline">•	Computer Systems Technology (Database Option)</h3>
    <h3 class="md-headline">Diploma</h3>
  </div>
</div>
<div class="a_row">
  <div class="left_child">
    <h3 class="md-headline">2019 – 2021</h3>	
  </div>
  <div class="right_child">
    <h3 class="md-headline"><strong><u>BCIT</u></strong></h3>
    <h3 class="md-headline">  •	Computer Systems Technology (Network Security Application Option)</h3>
    <h3 class="md-headline">Bachelor</h3>
  </div>
</div>
<h1 class="md-display-3"><strong>Work Experience</strong></h1>
<div class="a_row">
  <div class="left_child">
    <h3 class="md-headline">2018 – present</h3>	
  </div>
  <div class="right_child">
    <h3 class="md-headline"><strong><u>Freelance web and software developer</u></strong></h3>
    <h3 class="md-headline">  •	Develop websites using node.js, JavaScript, HTML and PHP</h3>
    <h3 class="md-headline">Example: Personal info websites, Commercial websites</h3>
    <h3 class="md-headline">  •	Develop Android apps using Java</h3>
    <h3 class="md-headline">Example: Map app with alerts, note-taking app</h3>
  </div>
</div>
<div class="a_row">
  <div class="left_child">
    <h3 class="md-headline">2017 – 2018</h3>	
  </div>
  <div class="right_child">
    <h3 class="md-headline"><strong><u>Frontend/Backend developer in BCIT Project Practicum</u></strong></h3>
    <h3 class="md-headline">  •	UI design and database maintenance for a shopping website</h3>
    <h3 class="md-headline">  •	Backend developer (improving algorithm) and Frontend developer (UI design) for an AR mask application</h3>
    <h3 class="md-headline">  •	Backend developer (maintaining database) for a Maple Ridge criminal alert app </h3>
  </div>
</div>
<h1 class="md-display-3"><strong>Related Project</strong></h1>
<div class="a_row">
  <div class="left_child">
    <h3 class="md-headline">Jan 2018 – April 2018</h3>	
  </div>
  <div class="right_child">
    <h3 class="md-headline"><strong><u>AR Face Recognition App, Skyboxm</u></strong></h3>
    <h3 class="md-headline">A face recognition is an application using unity library and C++ to implement. It is a face mask app, which the users can select face filters and effects to apply on their faces.</h3>
  </div>
</div>
<div class="a_row">
  <div class="left_child">
    <h3 class="md-headline">May 2018 – June 2018</h3>	
  </div>
  <div class="right_child">
    <h3 class="md-headline"><strong><u>Baba’s Beeswax shopping website</u></strong></h3>
    <h3 class="md-headline">Baba’s Beeswax is a shopping website which sell pysanka supplies and resource for making Ukrainian Easter eggs. And we used HTML, Javascript to do the UI design and Microsoft Azure database to do the backend developing.
    </h3>
  </div>
</div>
</div>
