<div class="row wrap-feature-22" >
    <!-- Column -->
    <div class="col-lg-6" data-aos="zoom-out-right" data-aos-duration="1200">
      <img [src]="title[2]" class="rounded img-responsive" alt="wrapkit" />
    </div>
    <!-- Column -->
    <div class="col-lg-6 no-trans">
      <div class="text-box">
        <h1 class="font-light">
          I like <span class="text-info">{{title[0]}}</span>
        </h1>
        <h4>
          {{title[1]}}
        </h4>
      </div>
    </div>
    <!-- Column -->
  </div>
  