.header_outer{
    padding-top: 5%;
    margin:auto;
    width: 65%
}
.header_t{
    border-left-style: solid;
    padding-left: 1%;
}
.design_img_container{
    text-align: center;
}
.caption{
    text-align: center;
    padding-bottom: 5%;
}
.gis_concept{
    width:80%;
    height: 80%;
}
.cmd{
    text-align: center;
}